<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
</head>
<body>
    <header>
        <h1>About Me - Laura</h1>
    </header>
    <main>
        <h2>Personal Information</h2>
        <p>
            My Name: Laura<br>
            My Age: 18<br>
            My Height: 160 cm<br>
        </p>
    </main>
</body>
</html>